.tiptap.ProseMirror {
  h1,
  h2,
  h3,
  h4 {
    position: relative;
    color: inherit;
    font-style: inherit;
  }

  > h1:first-child,
  > h2:first-child,
  > h3:first-child,
  > h4:first-child,
  > .ProseMirror-widget + h1,
  > .ProseMirror-widget + h2,
  > .ProseMirror-widget + h3,
  > .ProseMirror-widget + h4 {
    margin-top: 0;
  }

  h1 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 3rem;
    line-height: 1.2;
    letter-spacing: -0.02em;

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 2.5rem;
    line-height: 1.3;
    letter-spacing: -0.02em;

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 2rem;
    line-height: 1.3;
    letter-spacing: -0.01em;

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }

  h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 2rem;
    line-height: 1.3;
  }
}
